.listMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px auto 0 auto;
  max-width: 1180px;

  .listMenuHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px black solid;
    width: 80%;

    h2 {
      padding: 20px 5px;
    }
  }

  .listMenuCategory {
    display: flex;
    width: 80%;
    padding-top: 20px;

    ul li {
      display: inline;
      padding-right: 15px;
      color: rgb(130, 130, 130);

      &:hover {
        color: black;
      }
    }
  }
}
