.productList {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 100% !important;

  .productContainer {
    width: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    margin: 100px auto;
    min-width: 1000px;
  }
}
