.productList {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 100% !important;

  .productContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 30px 150px 0 150px;
  }
}
