.listContents {
  background-color: black;
  text-align: center;

  h3 {
    padding: 10px 2px;
  }
  ul {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 5px 5px;

    li.categoryList {
      padding: 10px 12px;
    }
  }
}
