.listContents {
  background-color: black;
  text-align: center;

  a {
    text-decoration: none;
    color: white;

    h3 {
      padding: 10px 2px;
      cursor: pointer;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 5px 5px;

    a {
      text-decoration: none;
      color: white;

      .categoryList {
        padding: 10px 12px;
        cursor: pointer;
      }
    }
  }
}
