.listContents {
  background-color: black;
  text-align: center;

  a {
    text-decoration: none;
    color: white;

    h3 {
      padding: 10px 2px;
      cursor: pointer;
      transition: 0.4s ease all;
      &:hover {
        font-size: 1.5rem;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 5px 5px;

    a {
      text-decoration: none;
      color: white;

      .categoryList {
        padding: 10px 12px;
        cursor: pointer;
        transition: 0.4s ease all;
        &:hover {
          font-size: 1.3rem;
        }
      }
    }
  }
}
