.mainProduct {
  //float: left;
  //margin: 15px 50px 0px 0px;
  padding: 0 20px;
  text-align: center;

  img {
    width: 160px;
    height: 160px;
    cursor: pointer;
  }

  .name {
    padding: 7px 0;
  }

  .price {
    padding-top: 15px;
  }
}
